@font-face {
    font-family: Fellix;
    src: url();
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.title-logo {
    height: 30vh;
    margin-top: 10vh;
    animation: slideIn 1s ease-out;
}

.thoughts {
    margin-left: 40vh;
    margin-right: 40vh;

    animation: slideIn 3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.subtitle {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vh;
    font-weight: 900;
    color: #9435f9;
    animation: slideIn 1s ease-out;
}

.information {
    animation: slideIn 3s ease-out;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.spacing {
    padding: 15vh;
}

.spacing-small {
    padding: 5vh;
}

.information-element {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5vh;
    align-items: center;
    margin-bottom: 10vh;
    text-align: center;
}

.information-element img {
    max-width: 100%;
}

.information-title {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vh;
    font-weight: 900;
    color: white;
    background-color: #9435f9;
    padding: 0.8vh 8vh;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
    margin: 1vh;
}

.information-subtitle {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    font-weight: 900;
    color: white;
    background-color: #9435f9;
    padding: 0.8vh 8vh;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
    margin: 1vh;
}

.information-element img {
    background-color: #9435f9;
    padding: 1vh;
}

img {
    transition: transform .2s;
    height: 50vh;
}

img:hover {
    transform: scale(1.1); 
}

ul {
    list-style-type: circle;
}

li {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    font-weight: 900;
    color: white;
    background-color: #751dd4;
    padding: 0.8vh 8vh;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
    margin: 1vh;
}

p {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    font-weight: 900;
    color: white;
    background-color: #751dd4;
    padding: 0.8vh 8vh;
    max-width: 100%;
    word-wrap: break-word;
}

.lesson-group {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.lesson {
    align-items: center;
    padding: 4vh;
    margin-bottom: 5vh;
}

#pad {
    padding: 0.8vh 2vh;
}

.lesson h1 {
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vh;
    font-weight: 900;
    color: white;
    background-color: #9435f9;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
}